.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Позволяет перенос элементов на следующую строку */
  align-items: center;

  gap: 16px; /* Расстояние между карточками */
  justify-content: center; /* Равномерное распределение карточек */
  /*justify-content: space-between; !* Равномерное распределение карточек *!*/
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
